link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/personal-css/index.css",rel="stylesheet")
link(href="/bootstrap/dist/js/bootstrap.js")
link(href="/jquery/dist/jquery.min.js")
